<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.jp.po.Book" >
    <id column="lsbn" property="lsbn" jdbcType="CHAR" />
    <result column="orderBy" property="orderby" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="currPrice" property="currprice" jdbcType="DOUBLE" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
    <result column="press" property="press" jdbcType="VARCHAR" />
    <result column="publishtime" property="publishtime" jdbcType="CHAR" />
    <result column="edition" property="edition" jdbcType="INTEGER" />
    <result column="pageNum" property="pagenum" jdbcType="INTEGER" />
    <result column="wordNum" property="wordnum" jdbcType="INTEGER" />
    <result column="printtime" property="printtime" jdbcType="CHAR" />
    <result column="booksize" property="booksize" jdbcType="INTEGER" />
    <result column="paper" property="paper" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="CHAR" />
    <result column="imageW" property="imagew" jdbcType="VARCHAR" />
    <result column="imageB" property="imageb" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    lsbn, orderBy, name, type, author, price, currPrice, discount, press, publishtime, 
    edition, pageNum, wordNum, printtime, booksize, paper, cid, imageW, imageB, description, 
    username, userId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jp.po.BookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from book
    where lsbn = #{lsbn,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from book
    where lsbn = #{lsbn,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jp.po.BookExample" >
    delete from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jp.po.Book" >
    insert into book (lsbn, orderBy, name, 
      type, author, price, 
      currPrice, discount, press, 
      publishtime, edition, pageNum, 
      wordNum, printtime, booksize, 
      paper, cid, imageW, imageB, 
      description, username, userId
      )
    values (#{lsbn,jdbcType=CHAR}, #{orderby,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{currprice,jdbcType=DOUBLE}, #{discount,jdbcType=DOUBLE}, #{press,jdbcType=VARCHAR}, 
      #{publishtime,jdbcType=CHAR}, #{edition,jdbcType=INTEGER}, #{pagenum,jdbcType=INTEGER}, 
      #{wordnum,jdbcType=INTEGER}, #{printtime,jdbcType=CHAR}, #{booksize,jdbcType=INTEGER}, 
      #{paper,jdbcType=VARCHAR}, #{cid,jdbcType=CHAR}, #{imagew,jdbcType=VARCHAR}, #{imageb,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jp.po.Book" >
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lsbn != null" >
        lsbn,
      </if>
      <if test="orderby != null" >
        orderBy,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="currprice != null" >
        currPrice,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="press != null" >
        press,
      </if>
      <if test="publishtime != null" >
        publishtime,
      </if>
      <if test="edition != null" >
        edition,
      </if>
      <if test="pagenum != null" >
        pageNum,
      </if>
      <if test="wordnum != null" >
        wordNum,
      </if>
      <if test="printtime != null" >
        printtime,
      </if>
      <if test="booksize != null" >
        booksize,
      </if>
      <if test="paper != null" >
        paper,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="imagew != null" >
        imageW,
      </if>
      <if test="imageb != null" >
        imageB,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="userid != null" >
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lsbn != null" >
        #{lsbn,jdbcType=CHAR},
      </if>
      <if test="orderby != null" >
        #{orderby,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="currprice != null" >
        #{currprice,jdbcType=DOUBLE},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="press != null" >
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        #{publishtime,jdbcType=CHAR},
      </if>
      <if test="edition != null" >
        #{edition,jdbcType=INTEGER},
      </if>
      <if test="pagenum != null" >
        #{pagenum,jdbcType=INTEGER},
      </if>
      <if test="wordnum != null" >
        #{wordnum,jdbcType=INTEGER},
      </if>
      <if test="printtime != null" >
        #{printtime,jdbcType=CHAR},
      </if>
      <if test="booksize != null" >
        #{booksize,jdbcType=INTEGER},
      </if>
      <if test="paper != null" >
        #{paper,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=CHAR},
      </if>
      <if test="imagew != null" >
        #{imagew,jdbcType=VARCHAR},
      </if>
      <if test="imageb != null" >
        #{imageb,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jp.po.BookExample" resultType="java.lang.Integer" >
    select count(*) from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update book
    <set >
      <if test="record.lsbn != null" >
        lsbn = #{record.lsbn,jdbcType=CHAR},
      </if>
      <if test="record.orderby != null" >
        orderBy = #{record.orderby,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.currprice != null" >
        currPrice = #{record.currprice,jdbcType=DOUBLE},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=DOUBLE},
      </if>
      <if test="record.press != null" >
        press = #{record.press,jdbcType=VARCHAR},
      </if>
      <if test="record.publishtime != null" >
        publishtime = #{record.publishtime,jdbcType=CHAR},
      </if>
      <if test="record.edition != null" >
        edition = #{record.edition,jdbcType=INTEGER},
      </if>
      <if test="record.pagenum != null" >
        pageNum = #{record.pagenum,jdbcType=INTEGER},
      </if>
      <if test="record.wordnum != null" >
        wordNum = #{record.wordnum,jdbcType=INTEGER},
      </if>
      <if test="record.printtime != null" >
        printtime = #{record.printtime,jdbcType=CHAR},
      </if>
      <if test="record.booksize != null" >
        booksize = #{record.booksize,jdbcType=INTEGER},
      </if>
      <if test="record.paper != null" >
        paper = #{record.paper,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=CHAR},
      </if>
      <if test="record.imagew != null" >
        imageW = #{record.imagew,jdbcType=VARCHAR},
      </if>
      <if test="record.imageb != null" >
        imageB = #{record.imageb,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update book
    set lsbn = #{record.lsbn,jdbcType=CHAR},
      orderBy = #{record.orderby,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      currPrice = #{record.currprice,jdbcType=DOUBLE},
      discount = #{record.discount,jdbcType=DOUBLE},
      press = #{record.press,jdbcType=VARCHAR},
      publishtime = #{record.publishtime,jdbcType=CHAR},
      edition = #{record.edition,jdbcType=INTEGER},
      pageNum = #{record.pagenum,jdbcType=INTEGER},
      wordNum = #{record.wordnum,jdbcType=INTEGER},
      printtime = #{record.printtime,jdbcType=CHAR},
      booksize = #{record.booksize,jdbcType=INTEGER},
      paper = #{record.paper,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=CHAR},
      imageW = #{record.imagew,jdbcType=VARCHAR},
      imageB = #{record.imageb,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jp.po.Book" >
    update book
    <set >
      <if test="orderby != null" >
        orderBy = #{orderby,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="currprice != null" >
        currPrice = #{currprice,jdbcType=DOUBLE},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="press != null" >
        press = #{press,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        publishtime = #{publishtime,jdbcType=CHAR},
      </if>
      <if test="edition != null" >
        edition = #{edition,jdbcType=INTEGER},
      </if>
      <if test="pagenum != null" >
        pageNum = #{pagenum,jdbcType=INTEGER},
      </if>
      <if test="wordnum != null" >
        wordNum = #{wordnum,jdbcType=INTEGER},
      </if>
      <if test="printtime != null" >
        printtime = #{printtime,jdbcType=CHAR},
      </if>
      <if test="booksize != null" >
        booksize = #{booksize,jdbcType=INTEGER},
      </if>
      <if test="paper != null" >
        paper = #{paper,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=CHAR},
      </if>
      <if test="imagew != null" >
        imageW = #{imagew,jdbcType=VARCHAR},
      </if>
      <if test="imageb != null" >
        imageB = #{imageb,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where lsbn = #{lsbn,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jp.po.Book" >
    update book
    set orderBy = #{orderby,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      currPrice = #{currprice,jdbcType=DOUBLE},
      discount = #{discount,jdbcType=DOUBLE},
      press = #{press,jdbcType=VARCHAR},
      publishtime = #{publishtime,jdbcType=CHAR},
      edition = #{edition,jdbcType=INTEGER},
      pageNum = #{pagenum,jdbcType=INTEGER},
      wordNum = #{wordnum,jdbcType=INTEGER},
      printtime = #{printtime,jdbcType=CHAR},
      booksize = #{booksize,jdbcType=INTEGER},
      paper = #{paper,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=CHAR},
      imageW = #{imagew,jdbcType=VARCHAR},
      imageB = #{imageb,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER}
    where lsbn = #{lsbn,jdbcType=CHAR}
  </update>
</mapper>